.wrap{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
.board{
  //border: 1px solid #000000;
  width: 240px;
  height: 255px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0 0 15px;
  .tile{
    height: 60px;
    width: 60px;
    margin: 0 5px;
    border: 1px solid #000000;
    cursor: pointer;
  }
  .disabled{
    background-color: #2d2d2d;
    cursor: default;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    border: 1px solid #000000;
    opacity: .6;
  }
}
.blue{
  background-color: blue;
  display: none;
}
.red{
  background-color: red;
  display: none;
}
.yellow{
  background-color: yellow;
  display: none;
}
.green{
  background-color: green;
  display: none;
}
.active{
  display: block;
  height: 60px;
  width: 60px;
}