<ion-header>
  <ion-navbar>
    <ion-title>
      Drag & Drop Puzzle App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="wrap">
    <div class="left box">
      <h2 class="header">First Bucket</h2>
      <ion-list [dragula]="'my-bag'" [dragulaModel]="bucket1">
        <button class="btn" ion-item *ngFor="let item of bucket1">
          {{item}}
        </button>
      </ion-list>
    </div>
    <div class="right box">
      <h2 class="header">Second Bucket</h2>
      <ion-list [dragula]="'my-bag'" [dragulaModel]="bucket2">
        <button class="btn" ion-item *ngFor="let item of bucket2">
          {{item}}
        </button>
      </ion-list>
    </div>
  </div>
</ion-content>
